body {
    /* font-family: proxima-nova, Arial, Verdana, sans-serif; */
    color: #333333;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* Starters */

.logo {
    width: 221px;
}

.container1 {
    padding: 15px 20px;
    max-width: 1400px;
    box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.333);
    position: fixed;
    top: 0;
    background-color: #ffffff;
}

/* Navigation Bar */

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #db1222;
}

.nav-item {
    margin: 0px 8px;
    font-size: 1.0rem;
}

.nav-item-md {
    border-bottom: 1px solid #EEEEEE;
    padding: 2px 30px;
}

.nav-item-md:hover {
    background-color: #f3f6fc;
    transition: all 150ms;
}

.main-item {
    font-size: 1.125rem;
    color: #DB1222;
    padding: 10px 0;
}

.fixed-top-1 {
    position: fixed;
    display: block;
    top: 38px;
    z-index: 10;
}

.temp-class {
    top: 128px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.temp-class2 {
    top: 64px;
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* Navigation Bar Buttons */

.btn-log {
    border: 1px solid #db1222 !important;
    border-radius: 0 !important;
    color: #db1222 !important;
    margin: 0px 8px;
}

.btn-acc {
    color: white !important;
    background-color: #db1222;
    border-radius: 0 !important;
    margin: 0 8px;
}

.navbar button {
    color: black;
}

.btn-log:hover {
    color: black !important;
    border: 1px solid black !important;
}

.btn-acc:hover {
    background-color: brown !important;
}

.special-div {
    margin-left: auto;
}

.special-btn {
    font-size: 0.85rem;
}

/* Top Navigation Bar */

.nav-top {
    background-color: black;
    color: rgba(255, 255, 255, 0.798);
    text-decoration: none;
}

.top-item {
    font-size: 0.9rem
}

.top-item:hover {
    color: white;
}

.top-div-1 {
    margin-left: 20px;
}

.top-div-2 {
    position: absolute;
    right: 20px;
}

.dropdown-menu {
    font-size: small;
}

.dropdown-item:hover {
    color: #DB1222;
    background-color: #f3f6fc;
}

/* Carousel  */

.carousel {
    height: 460px;
    overflow: hidden;
    clear: both;
    clear: left;
    clear: right;
}

.carousel-item {
    height: 100%;
    max-width: 100%;
}

.item-1,
.item-3,
.item-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.item-1 {
    background-image: url(https://www.interactivebrokers.co.in/images/web/hero-banner-home-interest.jpg);
    background-color: #cccccc;
}

.item-2 {
    background-color: #f3f5f7;
    background-image: url(https://i.postimg.cc/23pRBdsX/Capture2.png);
}

.item-3 {
    background-image: url(https://www.interactivebrokers.co.in/images/web/hero-banner-home-margin.jpg);
    background-color: #b41f24;
    color: white;
}

.container-md,
.container-md-1,
.container-md-2 {
    margin: 5px;
    width: 97.5%;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top right;
    padding-top: calc(50% + 20px) !important;
    max-width: 791px;
    margin-bottom: 12px;
}

.container-md {
    background-image: url(https://www.interactivebrokers.co.in/images/web/hero-banner-home-interest.jpg);
    background-color: #f0f0f0;
}

.container-md-1 {
    background-image: url(https://www.interactivebrokers.co.in/images/web/hero-banner-home-margin.jpg);
    background-color: #e9ecf1;
}

.container-md-2 {
    background-image: url(https://www.interactivebrokers.co.in/images/web/hero-banner-home-ibkr-gt.png);
    background-color: rgb(246, 248, 249);
    ;
}

.btn-md-1 {
    border-radius: 0;
    background-color: #DB1222;
    color: white;
    margin-top: 2.5rem;
    margin-bottom: 30px;
    min-width: 180px;
}

.btn-md-1:hover {
    background-color: black;
    color: white;
}

.btn-3 {
    color: red !important;
    background-color: white !important;
    margin-top: 1.2rem;
    margin-bottom: 30px;
    min-width: 180px;
    border-radius: 0;
}

.btn-3:hover {
    color: black !important;
}

.md-heading {
    font-weight: 500;
    font-size: 2rem;
}

.md-content,
.custom-content {
    margin: 0 25px auto 25px;
}

.custom-content {
    margin-top: 30px;
}

.custom-btn {
    border-radius: 20px;
    background-color: #0b56bf;
    color: white;
    margin-top: 2.5rem;
    margin-bottom: 30px;
    min-width: 180px;
}

.custom-btn:hover {
    background-color: #09408d;
    color: white;
}

.col-9 {
    width: 95%;
}

.heading-class {
    margin: 63px;
    width: 36%;
    text-align: left;
    margin-bottom: 9%;

}

.heading-class h1 {
    margin-bottom: 1.5rem;
}

/* Features  */

.features {
    overflow: hidden;
    margin: 14rem 3% 4%;
    font-weight: 600;
}

.box {
    margin: 3px 0px 40px 0px;
}

.feature-img {
    float: left;
    width: 70px;
    margin: 0 6%;
}

.par,
.par-md {
    margin: 0;
    font-size: .875rem;
    color: #818a91;
    line-height: 1.2rem;
    text-align: left;
    width: 105%;
}

.par-md {
    width: 65%;
}

.w700 {
    font-weight: 600;
    font-size: 1rem;
    color: #222;
    line-height: 1.2rem;
    text-align: left;
    margin-top: 0;
}

/* awards */

.award {
    width: 20%;
}

.awardTitle {
    font-weight: 300;
    letter-spacing: 3px;
    color: #000;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin: 10px auto;
}

.awardImage {
    width: 130px;
    padding-top: 30px;
}

.awardText {
    margin-top: 50px;
    text-align: center;
}

.style2 {
    padding-top: unset;
}

.btn-award {
    width: 12%;
}

/* Media Queries */

@media (max-width: 991px) {
    section {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .container1 {
        height: 64px;
        padding: 0 19px;
    }

    .heading-class {
        width: 50%;
        min-height: 558px
    }

    .item-1,
    .item-3 {
        background-size: 100%;
    }

    .features {
        margin: 15% 15% 0 23%;
        /* margin-left: 23%;
        margin-bottom: 0; */
    }

    .feature-img {
        width: unset !important;
    }

    .par-md {
        width: 90% !important;
    }

    .award {
        width: 30% !important;
    }

    .btn-3 {
        margin-top: 4.2rem;
        margin-bottom: 0;
    }

    .btn-award {
        width: 16%;
    }

    .coast-content {
        margin-left: 15px !important;
        margin-top: 20px;
    }

    .btn-map {
        width: 29% !important;
    }
}

@media (max-width: 800px) {
    .award {
        width: 60% !important;
        margin: 15px auto;
    }

    .awardImage {
        width: 200px !important;
        padding-top: inherit !important;
    }

    .awardText {
        margin-top: 10px !important;
    }

    .btn-award {
        width: 25%;
    }

    .account-div {
        width: 28% !important;
    }
}

@media (max-width: 575px) {
    .btn-md-1 {
        width: 100%;
    }

    .custom-btn {
        width: 100%;
    }

    .features {
        /* margin: 10rem !important; */
    }

    .feature-img {
        float: unset;
        justify-self: center !important;
        width: unset;
    }

    .par-md {
        width: unset !important;
        text-align: center !important;
    }

    .w700 {
        text-align: center !important;
    }

    .box {
        display: grid;
    }

    .btn-award {
        width: 93%;
    }

    .btn-coast {
        width: 98% !important;
    }

    .coast-content {
        margin-left: 0 !important;
    }

    .account-div {
        width: 50% !important;
    }
}

.coast-effective {
    padding-top: 80px;
    padding-bottom: 80px;
}

.cost-img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.coast-ul li::before {
    content: '✓';
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
}

.coast-ul {
    margin-top: 20px;
}

.coast-ul li {
    margin-top: 5px;
}

.coast-content {
    float: left;
}

.coast-effective .coast-content {
    margin-left: 53px;
}

.btn-coast {
    width: 29%;
    margin-top: 7px;
}

/* Map Section */

.map-container {
    /* max-width: 1200px; */
}

.map-para {
    margin-top: 30px;
}

.figures {
    color: #666;
    margin: 40px auto 15px;
}

.mini {
    font-size: small;
}

.btn-map {
    width: 40%;
    margin-top: 7px;
}

.figures .col {
    align-items: center;
    justify-content: center;
    display: grid;
}

.map-img {
    padding-top: 50px;
}

.security li {
    margin-top: 10px;
}

.security .btn-coast {
    width: 32%;
}

.account-div {
    width: 17%;
    margin-top: 40px;
}

.account-div a {
    text-decoration: none;
    color: #666;
}

.account-div a:hover {
    color: #DB1222;
}

.account-img {
    height: 60px;
    /* display: block; */
    margin-bottom: 22px;
}